/* MessagesComponent's private CSS styles */
h5 {
    color: rgb(82, 69, 69);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}
h4 {
    color: rgb(150, 9, 9);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

body {
    margin: 2em;
}
body, input[text], button {
    color: crimson;
    font-family: Cambria, Georgia;
}

button.clear {
    font-family: Arial;
    background-color: #eee;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    cursor: hand;
}
button:hover {
    background-color: #cfd8dc;
}
button:disabled {
    background-color: #eee;
    color: #aaa;
    cursor: auto;
}
button.clear {
    color: #333;
    margin-bottom: 12px;
}

.tarefa-card {
    background-color: rgba(228, 13, 23, 0.11);    
}

.tarefa-title {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    color: rgba(151, 17, 8, 0.767)
}